<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DarkChains examine</title>
</head>
<body>
<form method="post">
    <label for="url">Url</label>
    <label>
        <input type="text" name="url" autocomplete="off" required>
    </label><br>
    <input type="submit" value="Submit">
</form>
<p>存在暗链地址：{{ url }}</p>
<p>匹配关键字：{{ rules }}</p>
</body>
</html>